.main {
  margin: 0 auto;
  width: 400px;
  background: $background-color;
  border-radius: 10px;
  position: relative;

  .header {
    text-align: center;
    font-size: 32px;
    color: $text-main-color;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    &.menu_modal {
      margin-bottom: 0;
      margin-top: 10px;

      .menu__element_restart {
        height: 30px;
      }
    }

    .menu__element {
      width: 100px;
      text-align: center;
      line-height: 20px;
      border-radius: 10px;
      background: $background-field-color;
      cursor: pointer;

      &.menu__element_restart {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .game-field {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: $background-field-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    position: relative;
  }

  .game-win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5edfa;
    border-radius: 44px;
    padding: 20px;
    border: 2px solid #686475;
    text-align: center;
  }
}