$background-color: #f5edfa;
$background-field-color: #a8a0b7;
$background-tile-color: #d6cce4;
$text-main-color: #686475;
$accept-color: #1DC960;

@import 'components/gameTile.scss';
@import 'main.scss';
